<div class="row">
  <div class="col">
    <div class="form-group">
      <input class="form-control" type="text" name="filterRecaudo" placeholder="buscas..." [(ngModel)]="filterRecaudo">
    </div>
  </div>
</div>
<table *ngIf='listReport.length > 0' class="table table-hover mt-3">
    <thead>
      <tr>
        <th >Estacion</th>
        <th>Sentido</th>
        <th>Hora</th>
        <th>Categoria</th>
        <th>ValorTabulado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reporte of listReport | filter:filterRecaudo">
        <td>{{reporte.Estacion}}</td>
        <td>{{reporte.Sentido}}</td>
        <td>{{reporte.Hora}}</td>
        <td>{{reporte.Categoria}}</td>
        <td>{{reporte.ValorTabulado}}</td>
      </tr>
    </tbody>
  </table>
  <div class="col sm-12">
    <button id="backBtn" (click)="paginateBack()" class="btn btn-primary">Anterior</button>
    <button id="nextBtn" (click)="paginateNext()" class="btn btn-secondary">Siguiente</button>
  </div>

