<section>
  <div>
    <input type="date" name="date" id="date">
    <input type="button" value="Load Date">
  </div>
  <div class="row col-sm-12">
    <!-- <div class="col sm-6">

    </div> -->
    <div class="col sm-6">
      <h3>Reporte ultimos 3 meses</h3>
      <app-sho-data-table></app-sho-data-table>
    </div>
    <div class="col sm-12">
      <h3>Datos cargados</h3>
      <app-report-table></app-report-table>
    </div>
    <div class="col sm-12">
      <button id="nextBtn">Next</button>
      <button id="backBtn">Back</button>
    </div>
  </div>
</section>
