<section>
  <div>
    <form [formGroup]="loadDataForm" (ngSubmit)="loadData()">
    <div class="form-group">
      <label for="titulo">Fecha</label>
      <!-- el input y formControlName le da el nombre de la propiedad igual en los otros -->
      <input formControlName="date"
        type="date"
        class="form-control"
        id="Fecha"
        aria-describedby="datehelp"
        autocomplete="of"
      />
      <small *ngIf="loadDataForm.get('date')?.invalid  && loadDataForm.get('date')?.touched " id="datehelp" class="text-danger">Ingrese la fecha</small>
    </div>
    <input type="submit" value="Load Date" class="btn btn-primary float-end">
  </form>
  </div>
  <div class="row col-sm-12">
    <div class="col sm-4">
      <h3>Reporte ultimos 3 meses</h3>
      <app-report-table></app-report-table>
    </div>
    <div class="col sm-8">
      <div class="col sm-12">
        <h3>Datos cargados</h3>
        <app-sho-data-table></app-sho-data-table>
      </div>
    </div>

  </div>
</section>
